* {
  margin: 0;
  padding: 0;
}
body {
  background-color: white;
  font-family: "Montserrat", sans-serif;
}
header {
  width: 100%;
  height: 40vh;
  background-image: url(img/flaga.png);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.9;
  filter: drop-shadow(5px 5px 5px grey);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.title {
  font-size: 50px;
  opacity: 1;
  color: rgb(12, 107, 196);
  filter: drop-shadow(10px 10px 10px rgb(0, 0, 0));
}
.license {
  align-self: flex-end;
  font-size: 8px;
  color: black;
  margin-left: 80%;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}
nav {
  width: 100%;
  background-image: linear-gradient(rgb(206, 206, 206), grey);
  box-shadow: 5px 5px 5px;
  height: 70px;
}
main {
  width: 98%;
  height: 100%;
  background-color: rgb(233, 233, 233);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 100%;
}
.states {
  width: 90%;
  box-shadow: 5px 5px 5px rgb(56, 56, 56);
  margin-top: 50px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.states img {
  width: 90%;
  height: 90%;
  grid-column: 3/4;
  grid-row: 1/4;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.states_logo {
  padding: 30px;
  grid-column: 1/2;
  grid-row: 1/2;
}
.states h2 {
  font-size: 60px;
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  text-shadow: 3px 5px 10px rgb(146, 146, 146);
}
.ul0,
.ul1,
.ul2,
.ul3 {
  list-style-type: circle;
}
.ul0 {
  grid-column: 1/2;
  grid-row: 2/4;
  list-style-type: none;
}
.ul1 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.ul2 {
  grid-column: 2/3;
  grid-row: 2/3;
}
.ul3 {
  grid-column: 2/3;
  grid-row: 3/4;
}

#alaska {
  background-image: linear-gradient(rgb(9, 138, 189), rgb(45, 170, 45));
}
#arizona {
  background-image: linear-gradient(rgb(213, 216, 33), rgb(155, 117, 13));
}
#arkansas {
  background-image: linear-gradient(rgb(79, 206, 79), rgb(185, 152, 43));
}
#connecticut {
  background-image: linear-gradient(rgb(88, 196, 88), grey);
}
#dakotapld {
  background-image: linear-gradient(rgb(216, 213, 25), rgb(199, 168, 28));
}
